@import 'config';

#boardContainer {
	width: 100%;
	@include containerElement();
}

/* The board itself with the blobs */

.board {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	background-color: #FAFAFA;
	border: 1px solid #AAA;
	margin: 2em 0em 0em 15%;
	box-shadow: 2px 5px 3px #EEE;
}

#boardHeightSetter {
	padding-top: 80%;
}

.blob {
	position: absolute;
	width: 10%;

	img {
		width: 100%;
		position: absolute;
	}

}

/* The cards next to the board */

.boardCards {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
}

.boardCard {
	@include card();
	margin: 0.25em 0.25em;
	width: calc(100% - 0.5em);

}

.boardCard:not(.moveCard) {
	height: calc(40% - 0.5em);
}

.boardCard.moveCard {
	height: calc(20% - 0.5em);
}
