@import 'config';

#cardsSwitch {
	@include containerElement();
}

#cardsContainer {
	height: calc(100% - 4em); /* 4em are for the confirm button */
}

/* I have no clue why I have a margin above the cards, bu I've got the same problem on menu with startGame and cardsMenu */
.card {
	@include card();
	margin: 0.5em 0.25em;
	width: calc(25% - 0.5em);
	height: calc(50% - 1em);

	.button {

		div {
			width: 50%;
			text-align: center;
			display: inline-block;
		}

		div:nth-child(2) {
			border-left: 1px solid #F0F0F0;
		}

		div>img {
			cursor: pointer;
		}

	}

}

#confirmButton {
	float: right;
	background-color: $sky-blue;
	padding: 0.5em 2em;
	margin: 1em 0.5em 0em 0em;
	color: #fff;
	border-radius: 0.2em;
	cursor: pointer;
}
