@font-face { font-family: "Lato"; src: url('/Assets/Lato-Medium.ttf'); }

body, html, #body, #body>div {
	margin: 0px;
	font-family: "Lato";
	font-size: 20px;
	height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.containerElement {
	height: calc(100% - 3em);
}

#darkPart {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

#alertContainer {
	position: absolute;
	background-color: #FEFEFE;
	border-radius: 0.2em;
}

a {
	text-decoration: none;
	color: #6599ff;
	display: inline;
}
