@import 'config';

#menu {
	@include containerElement();
}

/* Cards */

#cardsMenu {
	display: inline-block;
	vertical-align: top;
	margin: 0.5em 0.25em 0em 0.5em;
	width: calc(50% - 0.75em);
	height: calc(100% - 1em);
	border: 1px solid #E0E0E0;
	border-radius: 0.2em;
	overflow: hidden;

	.blank {
		height: calc(45% - 3em);
	}

}

#cardsMenu:not(.noCard) {
	
	.blank, #cardsTutorial {
		display: none;
	}

	#cardsChoose, #cardsRandom {
		display: inline-block;
		margin: 0em 0.5em;
		width: calc(50% - 1em);
	}

	#cardsChoose {
		text-align: right;
	}

	#cardsRandom {
		text-align: left;
	}

}

#cardsMenu.noCard {
	
	.cardMenu {
		display: none;
	}

}

#yourCards {
	background-color: #FAFAFA;
	border-bottom: 1px solid #C0C0C0;
	text-align: center;
	padding: 0.2em 0em;
}

#cardsChoose, #cardsRandom {
	text-align: center;
	color: $sky-blue;
	cursor: pointer;
}

#cardsChoose img, #cardsRandom img {
	width: 2em;
}

#cardsChoose span, #cardsRandom span {
	vertical-align: 50%;
}

#cardsTutorial {
	text-align: center;
}

#cardsTutorial>span {
	color: $sky-blue;
	cursor: pointer;
}

.cardMenu {
	@include card();
	margin: 0.5em 0.25em;
	width: calc(50% - 0.5em);
	height: 60%;
}

/* Start buttons */

#start {
	display: inline-block;
	vertical-align: top;
	margin: 0.5em 0.5em 0em 0.25em;
	width: calc(50% - 0.75em);
	height: calc(100% - 1em);
	text-align: center;
	overflow: hidden;

	* {
		text-align: center;
		width: 50%;
	}

	.blank {
		height: calc(40% - 4em);
		width: 100%;
	}

	*:not(.blank) {
		border: 1px solid $sky-blue;
		border-radius: 0.1em;
		color: $sky-blue;
		margin: 1em 25%;
		padding: 0.5em 0em;
		cursor: pointer;
	}

	#startTutorial {
		background-color: $sky-blue;
		color: #FFF !important;
	}

}
